{% extends 'base.html' %}
{% block body %}
{% load static %}
{% load crispy_forms_tags %}
<div class="login-31">
  <div class="container">
      <div class="row login-box">
          <div class="col-lg-5 bg-color-15 pad-0 none-992 bg-img"></div>
          <div class="col-lg-7 pad-0 form-info">
              <div class="form-section align-self-center">
                  <div class="btn-section clearfix">
                    <a href="{% url 'login' %}" class="link-btn active btn-1 default-bg">Login</a>
                    <a href="{% url 'signup' %}" class="link-btn btn-2 active-bg">Register</a>
                  </div>
                  <div class="logo">
                    <h2>codeDM</h2>
                  </div>
                  <h1>Welcome!</h1>
                  <h3>Recover your password</h3>
                  <div class="clearfix"></div>
                  <form method="POST">
                      {% csrf_token %}
                      {{form|crispy}}
                      <div class="form-group clearfix">
                          <button type="submit" class="btn-md btn-theme btn-block">Send Me Email</button>
                      </div>
                  </form>
                  <p>Or Login With</p>
                  <div class="social-list">
                      <a href="#">
                          <i class="fa fa-facebook"></i>
                      </a>
                      <a href="#">
                          <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#">
                          <i class="fa fa-google"></i>
                      </a>
                      <a href="#">
                          <i class="fa fa-linkedin"></i>
                      </a>
                      <a href="#">
                          <i class="fa fa-pinterest"></i>
                      </a>
                      <a href="#">
                          <i class="fa fa-youtube"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock body %}