{% extends 'base.html' %}
{% block body %}
{% load static %}
{% load crispy_forms_tags %}
<div class="login-31">
    <div class="container">
        <div class="row login-box">
            <div class="col-lg-5 bg-color-15 pad-0 none-992 bg-img"></div>
            <div class="col-lg-7 pad-0 form-info">
                <div class="form-section align-self-center">
                    <div class="btn-section clearfix">
                        <a href="{% url 'login' %}" class="link-btn active btn-1 default-bg">Login</a>
                        <a href="{% url 'signup' %}" class="link-btn btn-2 active-bg">Register</a>
                    </div>
                    <div class="logo">
                        <h2>codeDM</h2>

                    </div>
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Well done!</h4>
                        <h2>Password Reset Complete</h2>
                        <hr>
                        <p class="mb-0"><a class="reset-complete-link" href="{% url 'login' %}" style="text-decoration: underline;">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}